<!-- user_management.html -->

{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Kullanıcı Yönetimi</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a
            href="{{ url_for('delete_user', user_id=user.id) }}"
            class="btn btn-danger"
            >Kullanıcıyı Sil</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
